.admin-container {
    display: flex;
  }
  
  .admin-content {
    margin-left: 250px;
    width: 100%;
    padding-top: 80px;
    padding-left: 20px;
  }
  
  .dashboard-content {
    padding: 20px;
  }
  