.admin-container {
  display: flex;
}

.admin-slider {
  width: 250px;
  background: #333;
  color: white;
  padding: 20px;
  height: 100vh;
}

.admin-slider ul {
  list-style: none;
  padding: 0;
}

.admin-slider ul li {
  margin: 20px 0;
}

.admin-slider ul li a {
  color: white;
  text-decoration: none;
}
